$headfootColor: #222;
$primary-color: #01498b; // #0149b3
$secondary-color: #b80d0d;
$bg-color-light: #f5f5f5;
$bg-color-darker: #ccc;
$bg-color-dark: #2c2c2c;

$bg-color-history-list: #e2e2e2;
$bg-color-history-list-hover: #b6b6b6;
$bg-color-button-dropdown: #99ccff;

$myFont: 'Merriweather', serif;